#nav-bar {
  background: #00a087;
  color: #e8fdff;
  height: 80px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 0 2em 0 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 250%;
  padding-left: 1em;
}

button#compose {
    float: right;
    margin-top: 3ex;
}

button#compose:hover {
    border: 2px solid black;
    box-shadow: 0 .1em .5em 0;
}